
@{
    ViewBag.Title = "Home Page";
}
        <div class="container" style="width:50%;margin-top:2%;">


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.EmployeeList != null)
                    {
                        foreach (var item in ViewBag.EmployeeList)
                        {
                            <tr id="row_@item.EmployeeId">
                                <td>@item.EmployeeId</td>
                                <td>@item.Name</td>
                                <td>@item.DepartmentName</td>
                                <td>@item.Address</td>
                                <td>
                                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete(@item.EmployeeId)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <input type="hidden" id="hiddenEmployeeId" />
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">&times;</a>
                            <h3 class="modal-title">Delete Employee</h3>
                        </div>
                        <div class="modal-body">
                            <h4>Deleting the Employee. Are you sure ?</h4>
                            <div style="text-align:center;display:none" id="loaderDiv">
                                <img src="~/Images/loaderGif.gif" width="150" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default" data-dismiss="modal">Cancel</a>
                            <a class="btn btn-danger" onclick="DeleteEmployee()">Confirm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
    var ConfirmDelete = function (EmployeeId) {
        $("#hiddenEmployeeId").val(EmployeeId);
        $("#myModal").modal("show");
    }

    var DeleteEmployee = function () {
        $("#loaderDiv").show();
        var employeeId = $("#hiddenEmployeeId").val();

        $.ajax({
            type: "POST",
            url: "/Test/DeleteEmployeeById",
            data: { EmployeeId: employeeId },
            success: function(result){
                $("#loaderDiv").hide();
                $("#myModal").modal("hide");
                $("#row_" + employeeId).remove();
            }
        })
    }
        </script>

